/* .BoardGame {
  background-color: #6c444445;
} */
.Card-back {
  /* backface-visibility: hidden; */
  /* border-radius: 5px; */
  min-width: 100%;
  /* transform: rotateY(-180deg) translate(100%, 0); */
}
.Card .Card-front {
  backface-visibility: hidden;
  /* border-radius: 5px; */
  cursor: pointer;
  min-width: 100%;
  transform: rotateY(-180deg) translate(100%, 0);
}
button {
  perspective: 200vw;
}
/* figure:hover {
  transition: all ease-out 1500ms;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
} */
/* figure {
  display: flex;
  width: 100%;
} */
