:root {
  --colorShadeA: rgba(16, 51, 99, 1);
  --colorShadeB: rgba(9, 61, 114, 1);
  --colorShadeC: rgba(49, 121, 195, 0.9);
  --colorShadeD: rgba(244, 244, 244, 1);
}

@font-face {
  font-family: "Smartie Caps";
  src: local("Smartie CAPS"), url("./fonts/SMARC.TTF") format("truetype");
}

body {
  margin: auto;
  font-family: "Smartie Caps", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 80em;
  padding: 3em 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
